In [154]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA  
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [155]:
data = pd.read_csv('student-mat.csv',sep=';')
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [39]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [157]:
X = data[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences']]
X

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,4
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,yes,no,no,5,5,4,4,5,4,11
391,MS,M,17,U,LE3,T,3,1,services,services,...,yes,yes,no,2,4,5,3,4,2,3
392,MS,M,21,R,GT3,T,1,1,other,other,...,yes,no,no,5,5,3,3,3,3,3
393,MS,M,18,R,LE3,T,3,2,services,other,...,yes,yes,no,4,4,1,3,4,5,0
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,yes,yes,no,3,2,3,3,3,5,5

In [158]:
df31 = X.replace({'Mjob': {'at_home': 0, 'teacher': 1, 'services': 2, 'health': 3, 'other': 4}})
df32 = df31.replace({'Fjob':{'at_home': 0, 'teacher': 1, 'services': 2, 'health': 3, 'other': 4}})
df33 = df32.replace({'school':{'GP': 0, 'MS': 1}})
df34 = df33.replace({'sex':{'M': 1, 'F': 0}})
df34 = df34.replace({'address':{'U': 1, 'R': 0}})
df35 = df34.replace({'famsize':{'GT3': 0, 'LE3': 1}})
df36 = df35.replace({'Pstatus':{'A': 1, 'T': 0}})
df37 = df36.replace({'higher':{'yes': 1, 'no': 0}})
df38 = df37.replace({'internet':{'yes': 1, 'no': 0}})
df39 = df38.replace({'romantic':{'yes': 1, 'no': 0}})
df41 = df39.replace({'reason':{'course':0,'home':1,'reputation':2,'other':3}})
df42 = df41.replace({'guardian':{'mother':0,'father':1,'other':2}})
df43 = df42.replace({'schoolsup':{'yes': 1, 'no': 0}})
df44 = df43.replace({'famsup':{'yes': 1, 'no': 0}})
df45 = df44.replace({'paid':{'yes': 1, 'no': 0}})
df46 = df45.replace({'activities':{'yes': 1, 'no': 0}})
df47 = df46.replace({'nursery':{'yes': 1, 'no': 0}})



df47.dtypes

school        int64
sex           int64
age           int64
address       int64
famsize       int64
Pstatus       int64
Medu          int64
Fedu          int64
Mjob          int64
Fjob          int64
reason        int64
guardian      int64
traveltime    int64
studytime     int64
failures      int64
schoolsup     int64
famsup        int64
paid          int64
activities    int64
nursery       int64
higher        int64
internet      int64
romantic      int64
famrel        int64
freetime      int64
goout         int64
Dalc          int64
Walc          int64
health        int64
absences      int64
dtype: object

In [159]:
# y = data[['Target']]
y = data['G3'].values
def encode_data(y):
    encoded_data=[]
    for i in y:
        if i>=10:
            encoded_data.append(1)
        if i <10:
            encoded_data.append(0)
    return encoded_data

y=encode_data(y)

In [160]:
X_std = (df47 -df47.mean(axis=0,numeric_only=True)) / df47.std(axis=0)
X_std

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,-0.362590,-0.946975,1.021751,0.534714,-0.636134,2.934670,1.142407,1.358648,-1.610201,-1.565544,...,0.230648,-2.229849,-0.707552,0.062115,-0.235711,0.800464,-0.540014,-1.002518,-0.398784,0.036378
1,-0.362590,-0.946975,0.238078,0.534714,-0.636134,-0.339891,-1.597982,-1.398197,-1.610201,0.818993,...,0.230648,0.447325,-0.707552,1.177367,-0.235711,-0.097784,-0.540014,-1.002518,-0.398784,-0.213525
2,-0.362590,-0.946975,-1.329268,0.534714,1.568015,-0.339891,-1.597982,-1.398197,-1.610201,0.818993,...,0.230648,0.447325,-0.707552,0.062115,-0.235711,-0.996032,0.582646,0.550402,-0.398784,0.536185
3,-0.362590,-0.946975,-1.329268,0.534714,-0.636134,-0.339891,1.142407,-0.479249,0.441507,-0.770698,...,0.230648,0.447325,1.409745,-1.053136,-1.236851,-0.996032,-0.540014,-1.002518,1.039751,-0.463428
4,-0.362590,-0.946975,-0.545595,0.534714,-0.636134,-0.339891,0.228944,0.439699,1.125409,0.818993,...,0.230648,-2.229849,-0.707552,0.062115,-0.235711,-0.996032,-0.540014,-0.226058,1.039751,-0.213525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2.750954,1.053320,2.589096,0.534714,1.568015,2.934670,-0.684519,-0.479249,-0.242396,-0.770698,...,0.230648,-2.229849,-0.707552,1.177367,1.766567,0.800464,2.827967,2.103322,0.320484,0.661137
391,2.750954,1.053320,0.238078,0.534714,1.568015,-0.339891,0.228944,-1.398197,-0.242396,-0.770698,...,0.230648,0.447325,-0.707552,-2.168388,0.765428,1.698712,1.705307,1.326862,-1.118051,-0.338477
392,2.750954,1.053320,3.372769,-1.865423,-0.636134,-0.339891,-1.597982,-1.398197,1.125409,0.818993,...,0.230648,-2.229849,-0.707552,1.177367,1.766567,-0.097784,1.705307,0.550402,-0.398784,-0.338477
393,2.750954,1.053320,1.021751,-1.865423,1.568015,-0.339891,0.228944,-0.479249,-0.242396,0.818993,...,0.230648,0.447325,-0.707552,0.062115,0.765428,-1.894280,1.705307,1.326862,1.039751,-0.713332
394,2.750954,1.053320,1.805423,0.534714,1.568015,-0.339891,-1.597982,-1.398197,1.125409,-2.360389,...,0.230648,0.447325,-0.707552,-1.053136,-1.236851,-0.097784,1.705307,0.550402,1.039751,-0.088573

In [161]:
nb_var=X_std.shape[1] 
nb_var

30

In [163]:
pca = PCA(n_components=X_std.shape[1])

In [164]:
pca.fit(X_std)

PCA(n_components=30)

In [165]:
components = pca.components_
explained_variances = pca.explained_variance_ratio_

In [167]:
variances = explained_variances
for i, col in enumerate(X_std.columns):
    print(f"{col}: {variances[i]}")

school: 0.10074986400609334
sex: 0.07585895826048847
age: 0.05782444747574829
address: 0.051765083166506076
famsize: 0.0489897368381313
Pstatus: 0.04730331621940634
Medu: 0.04286594518183514
Fedu: 0.03952372510664503
Mjob: 0.0382970585174925
Fjob: 0.037997762306189196
reason: 0.03609168436124953
guardian: 0.03385441710387144
traveltime: 0.032842748125680485
studytime: 0.03168597173997979
failures: 0.030919637022430932
schoolsup: 0.028878983353689006
famsup: 0.02706157821647371
paid: 0.02556752550979828
activities: 0.024072925784909355
nursery: 0.02288127086198356
higher: 0.022491461794478227
internet: 0.021964400654249455
romantic: 0.019961336429350992
famrel: 0.019746669044569183
freetime: 0.01677160998750577
goout: 0.016445221626284635
Dalc: 0.015704370130039346
Walc: 0.012942012869693187
health: 0.010142006718325542
absences: 0.00879827158690186

In [168]:
X = X_std[['school','sex','age','address','famsize','Pstatus','Medu','Fedu','Mjob','Fjob']].values
X

array([[-0.36258995, -0.9469754 ,  1.02175064, ...,  1.35864756,
        -1.61020068, -1.56554378],
       [-0.36258995, -0.9469754 ,  0.23807782, ..., -1.39819723,
        -1.61020068,  0.8189927 ],
       [-0.36258995, -0.9469754 , -1.32926782, ..., -1.39819723,
        -1.61020068,  0.8189927 ],
       ...,
       [ 2.7509542 ,  1.05332023,  3.3727691 , ..., -1.39819723,
         1.12540908,  0.8189927 ],
       [ 2.7509542 ,  1.05332023,  1.02175064, ..., -0.47924897,
        -0.2423958 ,  0.8189927 ],
       [ 2.7509542 ,  1.05332023,  1.80542346, ..., -1.39819723,
         1.12540908, -2.36038928]])

In [177]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.1, random_state=3)

In [170]:
#Implementation de l'algorithme de la regression logistique 
class myLogisticRegression:
    
    def __init__(self, l_rate=0.001, iterations=1000):  #assign values for hyper-parameters
        self.l_rate = l_rate  #learning rate
        self.iterations = iterations  #number of iterations

    def fit(self, x, y):  #Fit the training data using Gradient Descent
        self.losses = []  # An empty list to store the error in each iteration
        self.theta = np.zeros((1 + x.shape[1]))  #intitalization,,,Array of zeros 
        n = x.shape[0]  #number of training examples 768
        
        for i in range(self.iterations):
            #Step1
            y_pred = self.theta[0] + np.dot(x, self.theta[1:])  # hypothesis h(x)
            z = y_pred
            #Step2
            g_z =  1 / (1 + np.e**(-z))  #map predicted values to probabilities between 0 & 1      
            
            #Step3
            cost=0
            for iy in y:
                cost += (-iy * np.log(g_z) - (1 - iy) * np.log(1 - g_z))/ n #cost function
            self.losses.append(cost) #Tracking losses
            
            #Step4
            d_theta1 = (1/n) * np.dot(x.T, (g_z - y)) #Derivatives of theta[1:]
            d_theta0 = (1/n) * np.sum(g_z - y)  #Derivatives of theta[0]
            
            #Step5
            self.theta[1:] = self.theta[1:] - self.l_rate * d_theta1  #upadting values of thetas using Gradient descent
            self.theta[0] = self.theta[0] - self.l_rate * d_theta0  #upadting the value of theta 0 using Gradient descent     
        return self
    
    
    def predict(self, x):  #Predicts the value after the model has been trained.
        y_pred = self.theta[0] + np.dot(x, self.theta[1:]) 
        z = y_pred
        g_z = 1 / (1 + np.e**(-z))
        return [1 if i > 0.5 else 0 for i in g_z] #Threshold

In [319]:
from sklearn.linear_model import LogisticRegression
model = myLogisticRegression()
model.fit(X_train, Y_train)

In [320]:
y_pred = model.predict(X_test)
y_pred,X_test

([1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 array([[ 2.7509542 , -0.9469754 ,  1.02175064,  0.53471419, -0.63613432,
         -0.33989115,  0.22894388,  0.43969929, -0.2423958 , -0.77069829],
        [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756, -0.2423958 , -0.77069829],
        [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
        [-0.36258995, -0.9469754 ,  1.02175064,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756, -0.92629824,  0.8189927 ],
        [ 2.7509542 , -0.9469754 ,  1.80542346, -1.86542338, -0.63613432,
         -0.33989115, -0.68451908,  0.43969929, -0.2423958 ,  0.8189927 ],
        [-0.36258995,  1.05332023,  0.23807782,  0.53471419, -0.63613432,
         -0.33989115, -0.68451908, -1.39819723,  1.12540908,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
         -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
        [-0.36258995,  1.05332023,  1.02175064,  0.53471419,  1.5680153 ,
         -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
        [-0.36258995,  1.05332023,  0.23807782,  0.53471419,  1.5680153 ,
         -0.33989115, -1.59798203, -1.39819723,  0.44150664,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756,  1.12540908, -1.56554378],
        [-0.36258995,  1.05332023, -0.545595  ,  0.53471419, -0.63613432,
         -0.33989115,  0.22894388, -1.39819723,  1.12540908,  0.8189927 ],
        [-0.36258995,  1.05332023,  0.23807782,  0.53471419,  1.5680153 ,
         -0.33989115, -0.68451908,  0.43969929, -0.2423958 , -0.77069829],
        [-0.36258995,  1.05332023,  1.02175064,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684, -0.47924897, -0.92629824,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  0.43969929,  0.44150664,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  1.80542346,  0.53471419, -0.63613432,
         -0.33989115,  0.22894388,  0.43969929,  1.12540908,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  1.02175064,  0.53471419, -0.63613432,
         -0.33989115, -0.68451908, -1.39819723,  1.12540908,  0.8189927 ],
        [-0.36258995,  1.05332023, -0.545595  , -1.86542338, -0.63613432,
          2.93466995,  1.14240684,  1.35864756,  1.12540908, -1.56554378],
        [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
          2.93466995, -0.68451908, -1.39819723,  1.12540908,  0.8189927 ],
        [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419,  1.5680153 ,
         -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
        [-0.36258995, -0.9469754 , -1.32926782,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756, -0.92629824, -0.77069829],
        [-0.36258995, -0.9469754 , -1.32926782,  0.53471419, -0.63613432,
          2.93466995,  1.14240684,  0.43969929, -0.2423958 , -0.77069829],
        [-0.36258995,  1.05332023, -0.545595  ,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
        [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756,  0.44150664,  0.8189927 ],
        [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419,  1.5680153 ,
         -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
        [-0.36258995,  1.05332023, -0.545595  , -1.86542338,  1.5680153 ,
         -0.33989115,  0.22894388,  0.43969929, -0.92629824,  0.8189927 ],
        [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
         -0.33989115, -0.68451908,  0.43969929,  1.12540908,  0.8189927 ],
        [-0.36258995,  1.05332023,  1.02175064,  0.53471419,  1.5680153 ,
         -0.33989115,  0.22894388,  1.35864756, -0.2423958 ,  0.8189927 ],
        [-0.36258995,  1.05332023, -1.32926782,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756, -0.2423958 ,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  1.80542346,  0.53471419, -0.63613432,
         -0.33989115,  0.22894388,  0.43969929,  1.12540908, -0.77069829],
        [-0.36258995, -0.9469754 , -1.32926782, -1.86542338, -0.63613432,
         -0.33989115, -0.68451908,  1.35864756, -0.2423958 ,  0.0241472 ],
        [-0.36258995, -0.9469754 , -0.545595  , -1.86542338, -0.63613432,
         -0.33989115, -0.68451908, -0.47924897, -0.2423958 , -0.77069829],
        [-0.36258995, -0.9469754 ,  0.23807782, -1.86542338, -0.63613432,
         -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
        [ 2.7509542 , -0.9469754 ,  1.02175064,  0.53471419,  1.5680153 ,
         -0.33989115, -1.59798203, -1.39819723, -1.61020068, -0.77069829],
        [-0.36258995,  1.05332023,  1.02175064,  0.53471419,  1.5680153 ,
         -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
        [-0.36258995,  1.05332023, -1.32926782,  0.53471419, -0.63613432,
         -0.33989115, -0.68451908,  0.43969929,  1.12540908,  0.8189927 ],
        [ 2.7509542 ,  1.05332023,  0.23807782, -1.86542338, -0.63613432,
         -0.33989115,  1.14240684,  0.43969929, -0.2423958 ,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  0.23807782, -1.86542338, -0.63613432,
          2.93466995,  0.22894388, -0.47924897,  1.12540908,  0.8189927 ],
        [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
         -0.33989115, -0.68451908,  0.43969929, -1.61020068,  0.8189927 ],
        [-0.36258995,  1.05332023, -1.32926782, -1.86542338, -0.63613432,
         -0.33989115,  0.22894388,  1.35864756, -1.61020068, -1.56554378],
        [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
         -0.33989115,  1.14240684,  1.35864756, -0.92629824, -0.77069829]]))

In [281]:
def accuracy(y_pred, y_test):
    s=0
    for i in range(len(y_pred)):
        if y_pred[i]==y_test[i]:
            s+= 1
    return s/len(y_test)

In [282]:
acc = accuracy(y_pred,Y_test)
acc*100

70.0

In [283]:
def ConvertSchool(l):
    if l[0]=="Gabriel Pereira":
        return 0
    if l[0]=="Mousinho da Silveira":
        return 1

def ConvertSex(l):
    if l[1]=="Male":
        return 1
    if l[1]=="Female":
        return 0

def ConvertAddress(l):
    if l[3]=="urban":
        return 1
    if l[3]=="rural":
        return 0

def ConvertFamsize(l):
    if l[4]<=3:
        return 1
    if l[4]>3:
        return 0

def ConvertPstatus(l):
    if l[5]=="living together":
        return 0
    if l[5]=="apart":
        return 1

def ConvertMedu(l):
    if l[6]=="none":
        return 0
    if l[6]=="primary education (4th grade)":
        return 1
    if l[6]=="5th to 9th grade":
        return 2
    if l[6]=="secondary education":
        return 3
    if l[6]=="higher education":
        return 4

def ConvertFedu(l):
    if l[7]=="none":
        return 0
    if l[7]=="primary education (4th grade)":
        return 1
    if l[7]=="5th to 9th grade":
        return 2
    if l[7]=="secondary education":
        return 3
    if l[7]=="higher education":
        return 4


def ConvertMjob(l):
    if l[8]=="teacher":
        return 1
    if l[8]=="health : care related":
        return 3
    if l[8]=="services (e.g. administrative or police)":
        return 2
    if l[8]=="at_home":
        return 0
    if l[8]=="other":
        return 4

def ConvertFjob(l):
    if l[8] == "teacher":
        return 1
    if l[8] == "health : care related":
        return 3
    if l[8] == "services (e.g. administrative or police)":
        return 2
    if l[8] == "at_home":
        return 0
    if l[8] == "other":
        return 4


def ConvertData(l):
    data = [ConvertSchool(l),ConvertSex(l),l[2],ConvertAddress(l),ConvertFamsize(l),ConvertPstatus(l),ConvertMedu(l),ConvertFedu(l),ConvertMjob(l),ConvertFjob(l)]
    return data

def ConvertClass(x):
    if x==0 :
        return "Failing"
    if x==1:
        return "Successful"

In [315]:
liste1=['Gabriel Pereira','Female',18,'urban',7,'living together','higher education','5th to 9th grade','health : care related','services (e.g. administrative or police)']

xx = ConvertData(liste2)
print(xx)
data_converted =  (xx - np.mean(xx)) / np.std(xx)
final_Data = np.array(data_converted)
final = final_Data.reshape((1, 10))
print(final)

#prediction de la classe des donnees
class_pred = model.predict(final)

print("the class is ",class_pred[0])
print("the result is  : ",ConvertClass(class_pred[0]))

[0, 0, 15, 1, 0, 0, 4, 3, 3, 3]
[[-0.6744186  -0.6744186   2.81395349 -0.44186047 -0.6744186  -0.6744186
   0.25581395  0.02325581  0.02325581  0.02325581]]
the class is  0
the result is  :  Failing

In [321]:
X_test

array([[ 2.7509542 , -0.9469754 ,  1.02175064,  0.53471419, -0.63613432,
        -0.33989115,  0.22894388,  0.43969929, -0.2423958 , -0.77069829],
       [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756, -0.2423958 , -0.77069829],
       [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
       [-0.36258995, -0.9469754 ,  1.02175064,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756, -0.92629824,  0.8189927 ],
       [ 2.7509542 , -0.9469754 ,  1.80542346, -1.86542338, -0.63613432,
        -0.33989115, -0.68451908,  0.43969929, -0.2423958 ,  0.8189927 ],
       [-0.36258995,  1.05332023,  0.23807782,  0.53471419, -0.63613432,
        -0.33989115, -0.68451908, -1.39819723,  1.12540908,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
        -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
       [-0.36258995,  1.05332023,  1.02175064,  0.53471419,  1.5680153 ,
        -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
       [-0.36258995,  1.05332023,  0.23807782,  0.53471419,  1.5680153 ,
        -0.33989115, -1.59798203, -1.39819723,  0.44150664,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756,  1.12540908, -1.56554378],
       [-0.36258995,  1.05332023, -0.545595  ,  0.53471419, -0.63613432,
        -0.33989115,  0.22894388, -1.39819723,  1.12540908,  0.8189927 ],
       [-0.36258995,  1.05332023,  0.23807782,  0.53471419,  1.5680153 ,
        -0.33989115, -0.68451908,  0.43969929, -0.2423958 , -0.77069829],
       [-0.36258995,  1.05332023,  1.02175064,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684, -0.47924897, -0.92629824,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  0.43969929,  0.44150664,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  1.80542346,  0.53471419, -0.63613432,
        -0.33989115,  0.22894388,  0.43969929,  1.12540908,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  1.02175064,  0.53471419, -0.63613432,
        -0.33989115, -0.68451908, -1.39819723,  1.12540908,  0.8189927 ],
       [-0.36258995,  1.05332023, -0.545595  , -1.86542338, -0.63613432,
         2.93466995,  1.14240684,  1.35864756,  1.12540908, -1.56554378],
       [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
         2.93466995, -0.68451908, -1.39819723,  1.12540908,  0.8189927 ],
       [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419,  1.5680153 ,
        -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
       [-0.36258995, -0.9469754 , -1.32926782,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756, -0.92629824, -0.77069829],
       [-0.36258995, -0.9469754 , -1.32926782,  0.53471419, -0.63613432,
         2.93466995,  1.14240684,  0.43969929, -0.2423958 , -0.77069829],
       [-0.36258995,  1.05332023, -0.545595  ,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
       [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756,  0.44150664,  0.8189927 ],
       [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419,  1.5680153 ,
        -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
       [-0.36258995,  1.05332023, -0.545595  , -1.86542338,  1.5680153 ,
        -0.33989115,  0.22894388,  0.43969929, -0.92629824,  0.8189927 ],
       [-0.36258995, -0.9469754 , -0.545595  ,  0.53471419, -0.63613432,
        -0.33989115, -0.68451908,  0.43969929,  1.12540908,  0.8189927 ],
       [-0.36258995,  1.05332023,  1.02175064,  0.53471419,  1.5680153 ,
        -0.33989115,  0.22894388,  1.35864756, -0.2423958 ,  0.8189927 ],
       [-0.36258995,  1.05332023, -1.32926782,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756, -0.2423958 ,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  1.80542346,  0.53471419, -0.63613432,
        -0.33989115,  0.22894388,  0.43969929,  1.12540908, -0.77069829],
       [-0.36258995, -0.9469754 , -1.32926782, -1.86542338, -0.63613432,
        -0.33989115, -0.68451908,  1.35864756, -0.2423958 ,  0.0241472 ],
       [-0.36258995, -0.9469754 , -0.545595  , -1.86542338, -0.63613432,
        -0.33989115, -0.68451908, -0.47924897, -0.2423958 , -0.77069829],
       [-0.36258995, -0.9469754 ,  0.23807782, -1.86542338, -0.63613432,
        -0.33989115, -0.68451908, -0.47924897,  1.12540908,  0.8189927 ],
       [ 2.7509542 , -0.9469754 ,  1.02175064,  0.53471419,  1.5680153 ,
        -0.33989115, -1.59798203, -1.39819723, -1.61020068, -0.77069829],
       [-0.36258995,  1.05332023,  1.02175064,  0.53471419,  1.5680153 ,
        -0.33989115,  1.14240684,  1.35864756, -0.92629824, -1.56554378],
       [-0.36258995,  1.05332023, -1.32926782,  0.53471419, -0.63613432,
        -0.33989115, -0.68451908,  0.43969929,  1.12540908,  0.8189927 ],
       [ 2.7509542 ,  1.05332023,  0.23807782, -1.86542338, -0.63613432,
        -0.33989115,  1.14240684,  0.43969929, -0.2423958 ,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  0.23807782, -1.86542338, -0.63613432,
         2.93466995,  0.22894388, -0.47924897,  1.12540908,  0.8189927 ],
       [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
        -0.33989115, -0.68451908,  0.43969929, -1.61020068,  0.8189927 ],
       [-0.36258995,  1.05332023, -1.32926782, -1.86542338, -0.63613432,
        -0.33989115,  0.22894388,  1.35864756, -1.61020068, -1.56554378],
       [-0.36258995, -0.9469754 ,  0.23807782,  0.53471419, -0.63613432,
        -0.33989115,  1.14240684,  1.35864756, -0.92629824, -0.77069829]])

In [322]:
ouss = [[ 2.7509542 , -0.9469754 ,  1.02175064,  0.53471419, -0.63613432,
        -0.33989115,  0.22894388,  0.43969929, -0.2423958 , -0.77069829]]

In [323]:
class_pred1 = model.predict(ouss)

print("the class is ",class_pred1[0])
print("the result is  : ",ConvertClass(class_pred1[0]))

the class is  1
the result is  :  Successful

In [318]:

liste2=['Gabriel Pereira','Female',15,'urban',5,'living together','higher education','secondary education','health : care related','services (e.g. administrative or police)']
len(liste2)

10